pymongo==4.9.1
ratelimit==2.2.1
Requests==2.32.3
tqdm==4.66.5
pre-commit
jsonPagination==0.3.1
pytz==2024.2
pyfiglet===1.0.2
termcolor==2.5.0
colorama==0.4.6
schedule==1.2.2
python-dateutil==2.9.0.post0
